
@{
    ViewBag.Title = "BookManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Thông tin về sách</h3>
            <div>
                <button href="view-create-book.html" class="button-them">Thêm</button>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <!-- BASIC TABLE -->
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Danh mục</th>
                                        <th>Tên sách</th>
                                        <th>Tác Giả</th>
                                        <th>Năm xuất bản</th>
                                        <th>Mô tả</th>
                                        <th>Số lượng còn</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Truyện</td>
                                        <td>Quà tặng cuộc sống</td>
                                        <td>ABC</td>
                                        <td>2020</td>
                                        <td>Truyện ngắn</td>
                                        <td>100</td>
                                        <td>
                                            <p>
                                                <a href="#">Chi tiết </a>|
                                                <a href="#">Sửa </a>|
                                                <a href="#">Xóa </a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Truyện</td>
                                        <td>Quà tặng cuộc sống</td>
                                        <td>ABC</td>
                                        <td>2020</td>
                                        <td>Truyện ngắn</td>
                                        <td>100</td>
                                        <td>
                                            <p>
                                                <a href="#">Chi tiết </a>|
                                                <a href="#">Sửa </a>|
                                                <a href="#">Xóa </a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END BASIC TABLE -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

