
@{
    ViewBag.Title = "PublisherManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Thông tin về nhà xuất bản</h3>
            <div>
                <button href="view-create-publisher.html" class="button-them">Thêm</button>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <!-- BASIC TABLE -->
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên nhà xuất bản</th>
                                        <th>Địa chỉ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Kim Đồng</td>
                                        <td>Hà nội</td>
                                        <td>
                                            <p>
                                                <a href="#">Chi tiết </a>|
                                                <a href="#">Sửa </a>|
                                                <a href="#">Xóa </a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Kim Đồng</td>
                                        <td>Hà nội</td>
                                        <td>
                                            <p>
                                                <a href="#">Chi tiết </a>|
                                                <a href="#">Sửa </a>|
                                                <a href="#">Xóa </a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END BASIC TABLE -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>