@model  IEnumerable<Nhom3_BookStore.Models.Category>
<div class="left-sidebar">
    <h2>Danh mục sản phẩm</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="@Url.Action("Index", "Home", new { categoryid = item.CategoryID.Trim()})" data-toggle="collapse" data-parent="#accordian">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </a>
                    </h4>
                </div>
            </div>
        }

    </div><!--/category-products-->
    @*<div class="brands_products">
            brands_products
            <h2>Nhà xuất bản</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"> <span class="pull-right">(50)</span>Tâm trí lực</a></li>
                    <li><a href="#"> <span class="pull-right">(56)</span>Moon books</a></li>
                    <li><a href="#"> <span class="pull-right">(27)</span>Olympic Books</a></li>
                    <li><a href="#"> <span class="pull-right">(32)</span>Thiên Minh Book</a></li>
                    <li><a href="#"> <span class="pull-right">(5)</span>Nhà Sách Cửu Đức</a></li>
                    <li><a href="#"> <span class="pull-right">(9)</span>Nhà Sách Cửu Đức</a></li>
                    <li><a href="#"> <span class="pull-right">(24)</span>Tủ Sách Thiếu Nhi UIH</a></li>
                    <li><a href="#"> <span class="pull-right">(425)</span>Nhà Sách PHANBOOK</a></li>
                    <li><a href="#"> <span class="pull-right">(18)</span>TCD Books</a></li>
                    <li><a href="#"> <span class="pull-right">(400)</span>Công Ty Sách Thời Đại</a></li>
                    <li><a href="#"> <span class="pull-right">(65)</span>Nhà Sách R Books</a></li>
                    <li><a href="#"> <span class="pull-right">(100)</span>Nhà Xuất Bản Phụ Nữ</a></li>
                    <li><a href="#"> <span class="pull-right">(114)</span>Hoa Học Trò</a></li>
                    <li><a href="#"> <span class="pull-right">(45)</span>Nhà Sách Quảng Văn</a></li>
                </ul>
            </div>
        </div>/brands_products*@
</div>
